version: "3"
services:
  redis:
    image: redis
  csharp-daprd:
    image: daprio/daprd:1.2.2
    command: [ "./daprd","-app-id","tests","-placement-host-address","placement:50006","-components-path","/components" ]
    volumes:
      - ./components:/components
    depends_on:
      - redis
  csharp-writer:
    image: withinboredom/dhm-csharp-integration:writer
    build:
      dockerfile: images/csharp.Dockerfile
      context: .
    command: [ "write","test" ]
    network_mode: service:csharp-daprd
    depends_on:
      - csharp-daprd
  csharp-reader:
    image: withinboredom/dhm-csharp-integration:reader
    build:
      dockerfile: images/csharp.Dockerfile
      context: .
    command: [ "read","test" ]
    network_mode: service:csharp-daprd
    depends_on:
      - csharp-daprd
  php-daprd:
    image: daprio/daprd:1.2.2
    command: [ "./daprd","-app-id","tests","-placement-host-address","placement:50006","-components-path","/components" ]
    volumes:
      - ./components:/components
    depends_on:
      - redis
  sub-listen-daprd:
    image: daprio/daprd:1.2.2
    command: [ "./daprd","-app-id","subs","-placement-host-address","placement:50006","-components-path","/components","-app-port","80" ]
    volumes:
      - ./components:/components
    depends_on:
      - redis
  sub-validate-daprd:
    image: daprio/daprd:1.2.2
    command: [ "./daprd","-app-id","tests","-placement-host-address","placement:50006","-components-path","/components" ]
    volumes:
      - ./components:/components
    depends_on:
      - redis
  php-writer:
    image: withinboredom/dhm-php-integration:writer
    build:
      dockerfile: images/php.Dockerfile
      context: .
      target: final
    command: [ "write","test" ]
    network_mode: service:php-daprd
    depends_on:
      - php-daprd
  php-sub-validator:
    image: withinboredom/dhm-sub-integration:checker
    build:
      dockerfile: images/php.Dockerfile
      context: .
      target: final
    command: [ "validate" ]
    network_mode: service:sub-validate-daprd
    depends_on:
      - php-daprd
  php-reader:
    image: withinboredom/dhm-php-integration:reader
    build:
      dockerfile: images/php.Dockerfile
      context: .
      target: final
    command: [ "read","test" ]
    network_mode: service:php-daprd
    depends_on:
      - php-daprd
  php-unit:
    image: withinboredom/dhm-php-integration:unit
    build:
      dockerfile: images/php.Dockerfile
      context: .
      target: unit
    network_mode: service:php-daprd
    depends_on:
      - php-daprd
  subscriptions:
    image: withinboredom/dhm-sub-integration:service
    build:
      dockerfile: images/subscriptions.Dockerfile
      context: .
    network_mode: service:sub-listen-daprd
    depends_on:
      - php-daprd
